<% if creator? %>
  <h1>Welcome Back <%=@user.username %></h1>
<% else %>
  <h1><%=@user.username %>'s Profile</h1>
<% end %>


<a href="/users"><button>Other Users</button></a>
<br>
<a href="/adventures"><button>Other Adventures</button></a>
<br>
<% if creator? %>
  <!--Logout Button-->
  <form method="POST" action="/logout"><button>Logout</button></form><br>
  <!--Delete Profile Button-->
  <form method="POST" action="/users/<%=@user.id %>"><input id="hidden" type="hidden" name="_method" value="DELETE"><button>Delete Profile</button></form>
<% end %>