<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <!--Link css stylesheet for Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!--Google link for 3 fonts-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Overpass:wght@200;300&family=Permanent+Marker&display=swap" rel="stylesheet">   <!--font-family: 'Montserrat', sans-serif; font-family: 'Overpass', sans-serif; font-family: 'Permanent Marker', cursive;-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Been There Done That</title>
  <style>
    body{
      width: 100%;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
    }
    form{
      text-align: center;
    }
    input{
      margin-top: .5em;
      margin-bottom: .5em;
    }
    #login_img{ /* set image and sizing for login background image */
      background-image: url("/images/login_img.jpg"); /* sets image for background */
      background-size: cover; /* goes across full width with resizing */
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh; /* sets height to 100% viewport height (screen) */
    }
    a, a:active, a:visited{
      color: #659DBD;
    }
    a:hover{
      color: #8D8741
    }

    .titles{
      font-family: 'Overpass', sans-serif;
    }

    .cover_title{
      font-family: 'Permanent Marker', sans-serif;
    }
    .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
    }
    .button_as_link{
      background: none;
      padding: 0!important;
    }


  </style>
  </head>
  <body>
    <% if !!session[:user_id] %>
      <div class="container-fluid"> <!--creates a container for all pages to go in-->
        <div class="container-fluid">
          <img class="img-responsive" src="/images/banner_photo.jpg" alt="banner-photo" width="100%">
          <div class="center"><h1 class="text-center cover_title">been there! done that!</h1></div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top"><!--Identifies contents will be navbar and set color scheme-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> <!--creates navbar icon when sized too small-->
            </button>
            
            <div class="collapse navbar-collapse" id="navbarText"> <!--navbar links-->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-nav"><a class="nav-link" href="/users/<%=current_user.slug%>">Homebase</a></li>
                <li><a class="nav-link" href="/users/<%=current_user.slug%>/adventures">My Adventures</a></li> 
                <li><a class="nav-link" href="/adventures/new">Log Adventure</a></li> 
                <li><a class="nav-link" href="/adventures">Discover Adventures</a></li>
                <li><a class="nav-link" href="/logout">Log Out</a></li>
              </ul>
            </div>
        </nav>
      </div>
    </div>
  <% end %>
  <%= yield %>
    <!--JS link for Bootstrap with popper link in as well (don't need jquery link, it budnles everything needed)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
