<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <!--Link css stylesheet for Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com"> <!--Google link for 3 fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Overpass:wght@200;300&family=Permanent+Marker&display=swap" rel="stylesheet">   <!--font-family: 'Montserrat', sans-serif; font-family: 'Overpass', sans-serif; font-family: 'Permanent Marker', cursive;-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Been There Done That</title>
  <style>
    body{
      width: 100%;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
    }
    .padded_sides{
      padding: 30px;
    }
    .login_text{
      text-align: center;
    }
    input{
      margin-top: .5em;
      margin-bottom: .5em;
    }
    #login_img{ /* set image and sizing for login background image */
      background-image: url("/images/login_img.jpg"); /* sets image for background */
      background-size: cover; /* goes across full width with resizing */
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh; /* sets height to 100% viewport height (screen) */
    }
    a, a:active, a:visited{
      color: #659DBD;
    }
    a:hover{
      color: #8D8741
    }

    .titles{
      font-size: 1.5em;
    }

    .cover_title{
      font-family: 'Permanent Marker', sans-serif;
      font-size: 3em;
    }
    .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
    }
    
    .banner_container{
      position: relative;
      text-align: center;
    }
    .center{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .white_bar{
      width: 100%;
      height: 60px;
      background-color: rgba(255, 255, 255, .7);
    }
    .main_form{
      width: 600px;
      margin: auto;
    }
    .bottom_margin{
      margin-bottom: 15px;
    }
    .button_colors{
      background-color: #659DBD;
    }



  </style>
  </head>
  <body>
    <% if !!session[:user_id] %>
      <div class="banner_container">
        <img src="/images/banner_photo_0.jpg" alt="banner photo" style="width:100%;">
        <div class="white_bar center"></div>
        <div class="center cover_title">
          <% yield_content :title do%>
            <h1>been there! done that!</h1>
          <% end %>
        </div>
      </div>
      <nav class="navbar navbar-expand-sm bg-dark sticky-top justify-content-center"><!--Identifies contents will be navbar and set color scheme-->
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/users/<%=current_user.slug%>">Homebase</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/<%=current_user.slug%>/adventures">My Adventures</a></li>
          <li class="nav-item"><a class="nav-link" href="/adventures/new">Log Trip</a></li>
          <li class="nav-item"><a class="nav-link" href="/adventures">Discover</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
        </ul>
      </nav>
    <% end %>
    <%= yield %>

    <!--JS link for Bootstrap with popper link in as well (don't need jquery link, it budnles everything needed)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
