<div id="login_img" class="bg-image">
  <div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div id="login_box" class="row rounded" style="background-color:rgba(255, 255, 255, .5);">
        <form id="login_form" method="POST" action="/login">
          <h1>Been There! Done That!</h1>
          <h3>Login To Track Your Adventures</h3>
          <input type="text" name="username" id="login_username_input" placeholder="Username">
          <br>
          <input type="password" name="password" id="login_password_input" placeholder="Password">
          <br>
          <button type="button" class="bt btn btn-primary">Login</button>
          <p>Not registered yet? <a href="/signup">sign up here</a></p>
        </form>
      </div>
    </div>
  </div>
</div>

