<div class="bg-image" id="login_img" >
  <h1>Been There! Done That!</h1>
  <h3>Login To Track Your Adventures</h3>

  <form method="POST" action="/login">
  <label for="login_username_input">Username: </label>
    <input type="text" name="username" id="login_username_input">
  <br>
  <label for="login_password_input">Password: </label>
    <input type="password" name="password" id="login_password_input">
  <br>
  <input type="submit" id="login_submit_button" value="Login">
  </form>


  <p>Not registered yet? <a href="/signup">sign up here</a></p>
</div>