<div id="login_img" class="bg-image">
  <div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
      <div id="login_box" class="row rounded" style="background-color:rgba(255, 255, 255, .5);">
        <form id="login_form" class="login_text" method="POST" action="/login">
          <h1 class="cover_title">Been There! Done That!</h1>
          <h3 class="cover_title">Login To Track Your Adventures</h3>
          <input type="text" name="username" id="login_username_input" placeholder="Username" required>
          <br>
          <input type="password" name="password" id="login_password_input" placeholder="Password" required>
          <br>
          <button type="submit" class="bt btn btn-primary btn-sm">Login</button>
          <p>Not registered yet? <a style="color:rgb(26, 110, 240);" href="/signup">sign up here</a></p>
        </form>
      </div>
    </div>
  </div>
</div>

